@font-face {
      font-family: 'icomoon';
      src: url('fonts/icomoon.eot?mmmx34');
      src: url('fonts/icomoon.eot?mmmx34#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?mmmx34') format('truetype'),
        url('fonts/icomoon.woff?mmmx34') format('woff'),
        url('fonts/icomoon.svg?mmmx34#icomoon') format('svg');
      font-weight: normal;
      font-style: normal;
      font-display: block;
    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    ::-webkit-scrollbar {
      width: 20px;
      height: 8px;
      background-color: #202531;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 12px;
      border: 6px solid rgba(0, 0, 0, 0);
      box-shadow: 8px 0 0 #434953 inset;
    }

    ::-webkit-scrollbar-thumb:hover {
      box-shadow: 8px 0 0 rgb(74, 74, 74) inset;
    }

    html {
      overflow-x: hidden;
    }

    body {
      background-color: rgb(45, 49, 56);
    }

    li {
      display: inline-block;
      list-style: none;
    }

    a {
      display: inline-block;
      text-decoration: none;
      color: rgb(220, 222, 223);
    }

    input {
      outline: none;
      border: 1px solid;
      border-radius: 3px;
    }

    button {
      cursor: pointer;
      border: 1px solid;
      border-radius: 3px;
    }

    span {
      display: inline-block;
      text-align: center;
    }


    .font_download {
      font-family: 'icomoon';
    }

    .responsive_header {
      background-color: rgb(23, 26, 23);
      width: 100%;
      height: 123px;
    }

    .responsive_header .active {
      color: rgb(26, 159, 255);
      border-bottom: 5px solid rgb(26, 159, 255);
      font-size: 20px;
    }

    .nav .p {
      display: inline-block;
      inline-size: none;
    }

    .header_conten .header_logo img {
      width: 100%;
      height: 100%;
    }

    .responsive_header .header_conten {
      background-color: rgb(23, 26, 23);
      width: 1300px;
      height: 123px;
      margin: 0px auto;
      padding: 0 100px;
    }


    .responsive_header .header_conten .header_logo {
      float: left;
      width: 216px;
      height: 60px;
      margin-top: 38px;
      background-color: transparent;
    }

    .nav ul li {
      padding-left: 16px;
      text-align: center;
    }

    .responsive_header .nav {
      float: left;
      width: 218px;
      height: 29px;
      margin-top: 59px;
      margin-left: 50px;
      text-align: center;
      font-size: 15px;
      background-color: transparent;
    }

    .responsive_header .nav a {
      color: rgb(220, 222, 223);
    }

    .header_conten .globle_action_meau {
      float: right;
      padding-top: 0px;
      margin-top: 15px;
      font-size: 13px;
      color: rgb(202, 199, 196);
    }

    .header_conten .header_install {
      width: 114px;
      height: 30px;
      line-height: 31px;
      background-color: rgb(92, 126, 16);
    }

    .responsive_header .header_conten .header_install span {
      display: inline-block;
      left: 50%-36px;
      top: 50%-25px;
      margin-right: 2px;
    }

    .future_Upcoming{
      width: 100%;
      height: 300px;
      background-color: rgb(40, 43, 49);
    }

    .future_Upcoming .conten{
      width: 1000px;
      margin: 0 auto;
    }

    .future_Upcoming .left{
      position: relative;
      width: 60%;
      margin: 0 auto;
      padding-top: 10px;
    }

    .future_Upcoming .left .line{
      width: 80%;
    }

    .future_Upcoming .left .text{
      color: rgb(229, 229, 229);
      margin-left: -10px;
    }

    .box_introduction{
      padding: 10px;
      padding-top: 30px;
      width: 1000px;
      height: 10px;
      margin: 0 auto;
    }

    .introduction{
      width: 50%;
    }

     .introduction .name{
      color: #fff;
      font-weight: 300;
      font-size: 15px;
     }

    .introduction img{
      width: 20%;
      height: 20%;
    }

    .introduction span{
      display: inline-block;
      color: rgb(112, 123, 143);
      font-weight: 300;
      font-size: 15px;
    }


    .footer{
      width: 100%;
      background-color: rgb(23, 29, 37);
    }
    
    .footer .main_conten{
      width: 1000px;
      margin: 0 auto;
      margin-top: 100px;
      height: 100px;
      padding: 10px;
    }
    
    .footer  .bottom_text,
    .footer .top_text{
      padding: 10px;
      border-top: 1px solid rgb(54, 60, 68);
      border-bottom: 1px solid rgb(54, 60, 68);
      color: rgb(158, 168, 181);
      padding-bottom: 3px;
    }