
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    ::-webkit-scrollbar {
      width: 20px;
      height: 8px;
      background-color: #202531;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 12px;
      border: 6px solid rgba(0, 0, 0, 0);
      box-shadow: 8px 0 0 #434953 inset;
    }

    ::-webkit-scrollbar-thumb:hover {
      box-shadow: 8px 0 0 rgb(74, 74, 74) inset;
    }

    html {
      overflow-x: hidden;
    }

    body {
      background-color: rgb(36, 40, 46);
       /* 加载背景图 */
      /* 背景图垂直、水平均居中 */
      background-position: center center;
      /* 背景图不平铺 */
      background-repeat: no-repeat;
      /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
      background-attachment: fixed;
      /* 让背景图基于容器大小伸缩 */
      background-size: cover;
      /* 设置背景颜色，背景图加载过程中会显示背景色 */
    }

    .content{
        margin: 50px auto;
        padding: 20px 20px;
        width: 1200px;
        background-color: rgb(48, 54, 65);
        color: rgb(207, 210, 211);
    }

    .content .article .title{
        color: rgb(234, 234, 235);
    }

    .content .article h1,h2,h3,h4{
        color: rgb(255, 255, 255);
    }

    .content .article span{
        font-size: 13px;
        text-align: left;
        display: inline;
    }

    .about-news{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .about-news span{
        color: rgb(143, 152, 160);
    }


